.section_advice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto auto auto auto;
}

.section_advice .section_title {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .section_title {
    padding: 0;
  }

  .section_advice {
    --padding: 80px;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    grid-template-rows: auto ;
    padding-block-start: var(--padding);
    gap: 20px;
  }

  .section_advice .section_title {
    grid-column: 1;
    grid-row: 1;
  }

  .card_list {
    grid-column: 2;
  }

}


@media (min-width: 1024px) {
  .section_advice {
    grid-template-columns: 1fr 2.06fr;
    grid-template-rows: auto;
  }
}