.section_attention {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .section_title {
    padding: 0;
  }

  .section_attention {
    --padding: 80px;
    padding-block-start: var(--padding);
  }
}

@media (min-width: 1024px) {
  .section_attention {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 1fr;
  }

  .section_attention .card {
    grid-row: 2;
  }

  .section_attention .section_title {
    
  }
}