.section_attention {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.card_list_attention {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .section_title {
    padding: 0;
  }

  .section_attention {
    --padding: 80px;
    padding-block-start: var(--padding);
  }

}

@media (min-width: 1024px) {
  .section_attention {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 20px;
  }

  .card_list_attention {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section_attention .section_title {
    grid-column: 1;
    grid-row: 1;
    max-width: 315px;
    width: 100%;
  }
}