

.card_text {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-400);
  font-style: var(--font-style-regular);
  font-size: var(--main-font-size);
  color: var(--text-color);
  line-height: 23.4px;
  margin-block-start: 10px;
}

.section_title {
  font-weight: var(--font-weight-700);
  font-style: var(--font-style-bold);
  font-size: var(--main-font-size);
  color: var(--section-title-color);
  line-height: 23.4px;
  padding-block-start: var(--padding);
}

.card_title {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-700);
  font-style: var(--font-style-bold);
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.card_text_small_size {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-400);
  font-style: var(--font-style-regular);
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.title_list {
  display: grid;
  gap: 20px;
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}


.text_link:hover {
  text-decoration: underline;
}

.text_link:focus-visible {
  border: 1px solid rgba(241, 178, 206, 1);
}