.section_concentrate {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  padding-block-start: var(--padding-start);
  gap: 20px;
}

.concentrate_title {
  font-weight: var(--font-weight-700);
  font-style: var(--font-style-bold);
  font-size: var(--main-font-size);
  color: var(--section-title-color);
  line-height: 23.4px;
  letter-spacing: 0%;
  grid-column: 1 / -1;
}

@media (min-width: 768px) {
  .section_concentrate {
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;
  }

  .section_concentrate .concentrate_title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .section_concentrate .card {
    grid-column: 2;
  }
}