.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  min-height: 375px;
  padding: 0 10px 0px 10px;
}

.footer_title {
  display: flex;
  justify-self: center;
  align-self: center;
  color: var(--big-title-color);
  font-family: var(--main-font), monospace;
  font-weight: var(--font-weight-700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

footer.decorated-zone::before {
  top: 8px;
  right: 10px;
}

footer.decorated-zone::after {
  bottom: 10px;
  left: 10px;
}

@media (min-width: 768px) {

  footer.decorated-zone::before {
    top: 19px;
    right: 20px;
  }

  footer.decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}