.section_images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-block-start: var(--padding);
  padding-block-end: var(--padding-start);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@media (min-width: 768px) {
  .section_images {
    --padding: 80px;
    padding-block-start: var(--padding);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block-start: var(--padding);
  }

  .image_title {
    grid-column: 1 / 4;
  }

  .image_sunset {
    grid-column: 1 / 3;
  }

  .image_ice-cream {
    align-self: stretch;
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .image_tape {
    align-self: stretch;
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .image_books {
    grid-column: 2;
    grid-row: 3;
  }

  .image_street {
    grid-column: 2 / 4;
  }
}