/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-dark-theme: url(../images/cover-image-light.png);
  --bg-color-dark-theme: rgba(255, 241, 247, 1);
  --decoration-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --big-title-color: rgba(255, 194, 230, 1);
  --title-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text-color: rgba(53, 52, 48, 1);
}

:root.theme-light .decorative_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image-dark-theme: url(../images/cover-image-light.png);
  --bg-color-dark-theme: rgba(255, 241, 247, 1);
  --decoration-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --big-title-color: rgba(255, 194, 230, 1);
  --title-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text-color: rgba(53, 52, 48, 1);
  }

  .title-decor {
    color: var(--text-color);
  }

  .decorative_element {
    display: none;
  }
}


