/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color-dark-theme);
  background-image: var(--bg-image-dark-theme);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
}

.base_section {
  padding: 0 10px 0 10px;
  font-family: var(--main-font, monospace);
}



@media (min-width: 768px) {
  .decorated-zone::before {
    top: 0px;
  }

  .decorated-zone::after {
    bottom: 40px;
    left: 20px;
  }

  .base_section {
    padding: 0px 20px 0px 20px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone::before {
    top: 0px;
  }
}