/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image-dark-theme);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color-dark-theme);
}

.title-decor {
  color: var(--bg-color-dark-theme);
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.base_section {
  background-color: var(--bg-color-dark-theme);
  font-family: var(--main-font);
  padding: 0 10px 0 10px;
}

