@media (min-width: 768px) {
  .base_section {
    padding: 0 20px 0 20px;
  }

  .header {
    margin: 20px 20px 5px 20px;
  }

  .decorated-zone::before {
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
  }

  .decorative_element {
    right: 38px;
  }

  .header_description {
    justify-self: end;
    align-self: center;
    min-width: 364px;
  }

  .section_concentrate {
    --padding-start: 60px;
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    grid-template-rows: auto ;
    row-gap: 20px;
    column-gap: 20px;
    padding-block-start: var(--padding-start);
    padding-block-end: 0;
  }

  .section_concentrate .concentrate_title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .section_concentrate .card {
    grid-column: 2;
  }

  .section_attention .section_title {
    max-width: 18ch;
  }

  .section_attention {
    --padding: 80px;
    padding-block-start: var(--padding);
    padding-block-end: 0;
  }

  .section_advice {
    padding-block-end: 0;
  }

  .section_images {
    --padding-start: 60px;
    padding-block-end: var(--padding-start);
  }

  .section_image {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    padding: 0 20px 0 20px;
  }

  footer.decorated-zone::before {
    right: 20px;
  }

  footer.decorated-zone::after {
    left: 20px;
  }
}