:root {
  --bg-image-dark-theme: url(../images/cover-image-dark.png);
  --bg-color-dark-theme: rgba(0, 0, 40, 1);
  --big-title-color: rgba(219, 0, 255, 1);
  --title-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --button-color: rgba(255, 0, 112, 1);
  --button-color-hover: rgba(255, 0, 111, 0.4);
  --text-color: rgba(241, 178, 206, 1);
  --decoration-color: rgba(255, 0, 112, 1);
  --main-font: IBM Plex Mono;
  --padding-start: 40px;
  --padding: 50px;
  --main-font-size: 18px;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-style-bold: Bold;
  --font-style-regular: Regular;
}


